@import "../../index.css";

.resumeContainer {
  display: flex;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0rem;
  flex: 1;
  list-style: none;
}

.menuContainer a {
  text-decoration: none;
}

.resumeContainer > div:last-child {
  flex: 3;
}

.menuContainer > li > a {
  transition: all 0.3s;
  font-size: 1.5rem;
}

.menuContainer a > span > span {
  font-weight: 800;
}

.active > span > span,
.hovered > span > span {
  color: var(--primary);
}

.hovered {
  font-size: 2.5rem;
  margin-left: 1rem;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
}

.resumeSubheading {
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  gap: 20px;
  margin: 0.25rem 0rem;
}

.resumeSubheading > span {
  font-weight: 600;
  color: var(--primary);
  font-size: 1.2rem;
  transition: all 0.3s;
}

.resumeSubheading > span:hover {
  color: var(--accent);
}

.marqueeLabel {
  font-size: 0.75rem;
}

.educationContainer {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.experienceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 40px;
}

@media (max-width: 1000px) {
  .resumeSubheading {
    font-size: 0.8rem;
  }
  .resumeSubheading > span {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .resumeContainer {
    flex-direction: column;
  }
  .menuContainer {
    flex-direction: row;
  }
}

@media (max-width: 670px) {
  .active {
    font-size: 1.5rem !important;
  }
  .menuContainer > li > a {
    font-size: 1.2rem;
  }
}

@media (max-width: 610px) {
  .experienceContainer,
  .educationContainer {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 550px) {
  .active {
    font-size: 1.2rem !important;
  }
  .menuContainer > li > a {
    font-size: 1rem;
  }
  .menuContainer {
    padding: 1rem 0rem;
  }
}

@media (max-width: 490px) {
  .menuContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
    justify-content: space-evenly;
  }
}
