@import "../../index.css";

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.navItems {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;
  border-radius: 50px;
  border: 1px solid var(--background-hue);
  transition: all 0.2s ease-in-out;
  height: fit-content;
}

.homeBtn {
  border-radius: 50%;
  border: 1px solid var(--background-hue);
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 300;
  box-shadow: var(--box-shadow);
}

.homeBtn > span > span {
  transition: all 0.3s;
}

.homeBtn:hover {
  background-color: var(--text);
  box-shadow: 0px 4px 16px rgba(235, 241, 255, 0.2);
}
.navItems > li > a {
  text-decoration: none;
  font-size: 0.9rem;
  display: flex;
}

.navItems > li > a > span {
  border-radius: 50px;
  transition: all 0.3s;
  font-weight: 300;
  padding: 10px 15px;
  border: 1px solid transparent;
}

.hovered > a > span,
.active > span {
  background-color: var(--text);
  box-shadow: 0px 4px 16px rgba(235, 241, 255, 0.4);
  border: 1px solid rgba(235, 241, 255, 0.4);
}

.hovered > a > span > span,
.hovered > span > span,
.active > span > span {
  color: var(--background);
  font-weight: 600;
}

.last > a > span {
  background-color: var(--primary);
}

.last:hover > a > span {
  background-color: var(--accent);
  box-shadow: 0px 0px 5px rgba(212, 29, 109, 0.7),
    0px 0px 10px rgba(212, 29, 109, 0.7), 0px 0px 15px rgba(212, 29, 109, 0.7),
    0px 0px 20px rgba(212, 29, 109, 0.7), 0px 0px 25px rgba(212, 29, 109, 0.7),
    0px 0px 30px rgba(212, 29, 109, 0.7), 0px 0px 35px rgba(212, 29, 109, 0.7);
}

.last > a > span > span {
  color: var(--background);
  font-weight: 400;
}

.last:hover > a > span > span {
  color: var(--text);
  font-weight: 600;
}

.navOverlay {
  width: 300vw;
  height: 300vw;
  background-color: rgba(0, 10, 30, 0.8);
  z-index: 99;
  position: fixed;
  margin: -2rem 0;
  left: 0;
}

@media (max-width: 610px) {
  .navItems > li > a {
    font-size: 0.7rem;
  }
}

@media (max-width: 550px) {
  .navContainer {
    justify-content: space-between;
  }
  .navItems {
    flex-direction: column;
    border: none;
    margin: 3rem 0rem;
  }
  .mobileNav {
    position: fixed;
    height: 100vh;
    background-color: var(--card-bg);
    z-index: 999;
    top: 0px;
    width: 33vw;
    left: 0px;
    padding: 1rem;
    border-radius: 0px 10px 10px 0px;
    border-right: 1px solid rgba(214, 227, 254, 0.3);
  }
  .navItems > li > a {
    border: 1px solid rgba(214, 227, 254, 0.3);
    border-radius: 50px;
  }
  .closeBtn {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
