@import "../../index.css";

.container {
  display: flex;
  height: 100%;
  gap: 20px;
  position: relative;
}

/* .container > *:nth-child(2)::before {
  font-family: "Caveat", cursive;
  color: var(--background-hue);
  font-size: 1.4rem;
  content: "<aboutme>";
  position: absolute;
  left: -25px;
  top: -25px;
}
.container > *:nth-child(2)::after {
  font-family: "Caveat", cursive;
  color: var(--background-hue);
  font-size: 1.4rem;
  content: "</aboutme>";
  position: absolute;
  left: -25px;
  bottom: -30px;
} */

pre::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

pre::-webkit-scrollbar-track {
  background: var(--accent-heavy);

  border-radius: 100vw;
  margin-block: 0.5em;
}

pre::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 100vw;
  border: 0.1em solid var(--accent-heavy);
}

pre::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}
pre::-webkit-scrollbar-corner {
  background: transparent;
}

.aboutMeFeatureControllerContainer::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

.aboutMeFeatureControllerContainer::-webkit-scrollbar-track {
  background: var(--primary);

  border-radius: 100vw;
  margin-block: 0.5em;
}

.aboutMeFeatureControllerContainer::-webkit-scrollbar-thumb {
  background: var(--card-bg);
  border-radius: 100vw;
  border: 0.1em solid var(--primary);
}

.aboutMeFeatureControllerContainer::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}
.aboutMeFeatureControllerContainer::-webkit-scrollbar-corner {
  background: transparent;
}

.container > * {
  flex: 1;
}

.container > *:first-child {
  flex: 0.75;
}

.miscContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blob {
  transform: scale(0.7) rotate(90deg);
}

.aboutMeProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMeContentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px !important;
  flex: 1;
  overflow: auto;
  justify-content: space-between;
}

.aboutMeFeatureControllerContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
  gap: 10px !important;
}

.aboutMeContentContainer > h3,
.aboutMeFeatureControllerContainer > div > h3,
.windowControllerContainer > h3,
.backCard > h3 {
  font-size: 1.4rem;
}

.aboutMeContentContainer > h3 *,
.aboutMeFeatureControllerContainer > div > h3 * {
  color: var(--primary);
}

.workStatusContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.workStatusContainer * {
  fill: #58a88c;
  color: #58a88c;
  font-size: 0.8rem;
}

.aboutMeFeatureControllerContainer {
  flex: 1.3;
}

.aboutMeContentContainer > p {
  font-size: 0.8rem;
}

.feature,
.activeFeature {
  cursor: pointer;
}

.featureItem {
  transition: all 0.3s;
}

.featureController {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.featureController > * {
  padding: 0.75rem 0.5rem;
}

.featureController * {
  color: var(--text);
}

.featureController h4 {
  font-size: 1.2rem;
}

.featureController p {
  font-size: 0.8rem;
}

.subheading {
  font-size: 0.7rem;
}

.activeFeature {
  background-color: hsla(0, 0%, 98%, 0.1);
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(12, 20, 42, 0.4);
}

.activeFeature * {
  color: var(--primary);
}

.activeFeature p * {
  color: var(--text);
}

.codeSnippetContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.codeSnippetContainer pre {
  flex-grow: 1;
  border-radius: 10px;
}

.windowControllerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.windowControllerContainer > *:last-child * {
  color: var(--primary);
}

.windowControllerContainer > div {
  display: flex;
  border: 1px solid var(--background-hue);
  border-radius: 50px;
}

.windowControllerContainer > div > * {
  cursor: pointer;
  transition: all 0.3s;
  padding: 0.5rem 1rem;
  border-radius: 50px;
}

.hovered,
.clicked {
  background-color: var(--text);
  box-shadow: 0px 4px 16px rgba(235, 241, 255, 0.2);
}

.hovered svg,
.clicked svg {
  fill: var(--background);
}

.videoPlayerContainer {
  display: flex;
  justify-content: center;
}

video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  max-width: 435px;
}

.linkContainer {
  display: flex;
}

.linkContainer > div {
  display: flex;
  border-radius: 50px;
  border: 1px solid var(--background-hue);
}

.linkContainer > div > a {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: all 0.3s;
}

@media (max-width: 1175px) {
  /* .aboutMeProfileContainer {
    flex: 0.5;
  } */
  .aboutMeProfileContainer img {
    width: 250px;
    height: 250px;
  }
  /* .miscContainer {
    flex: 1.2;
  }
  .codeSnippetContainer {
    flex: 1.4;
  } */

  pre {
    width: 350px;
  }
  .container > * {
    flex: unset;
  }
}

@media (max-width: 1075px) {
  .aboutMeContentContainer > h3,
  .aboutMeFeatureControllerContainer > div > h3,
  .windowControllerContainer > h3,
  .backCard > h3 {
    font-size: 1.1rem;
  }
}

@media (max-width: 1045px) {
  .aboutMeProfileContainer img {
    width: 200px;
    height: 200px;
  }
  .aboutMeProfileContainer button {
    font-size: 0.9rem;
  }
  pre {
    width: 300px;
  }
}

@media (max-width: 950px) {
  pre {
    width: 250px;
  }
  .windowControllerContainer > h3 {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .aboutMeProfileContainer {
    display: none;
  }
  .container > * {
    flex: 1;
  }
  pre {
    width: 300px;
  }
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .codeSnippetContainer > div {
    align-items: center;
  }

  .windowControllerContainer {
    width: 100%;
  }
  .linkContainer {
    width: 100%;
  }

  .aboutMeContentContainer {
    gap: 10px !important;
  }

  pre {
    max-height: 400px;
    width: 100%;
  }
}

.specialCard {
  padding: 0.3rem !important;
  position: relative;
  background-color: var(--card-bg);
  border-radius: 10px;
}

.specialCardContent {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 8%,
    transparent 8%
  );
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  height: calc(100%);
  padding: 5vmin;
  position: relative;
  transition: background-position 350ms ease;
  width: calc(100%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.specialCard:hover > .specialCardContent {
  background-position: -40% -40%;
}

.specialCard::before {
  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    var(--background) 66%,
    var(--accent) 83.5%,
    var(--primary) 100%
  );
  background-size: 300% 300%;
  background-position: 0% 0%;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  transition: background-position 350ms ease, transform 350ms ease;
  border-radius: 10px;
  z-index: 1;
  opacity: 0.8;
}

.specialCard:hover::before {
  background-position: 100% 100%;
}

.backCard {
  position: relative;
  z-index: 2;
}

.specialCard a {
  position: relative;
  z-index: 3;
  opacity: 0;
  transition: all 0.3s;
}

.specialCard:hover a {
  opacity: 1;
}

.frontCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.frontCard > ul {
  list-style: none;
}
