@import "../../index.css";

.container {
  display: flex;
  height: 100%;
  gap: 20px;
}

.container > * {
  flex: 1;
}

.miscContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.miscContainer > *:last-child {
  flex-grow: 1;
}

.blob {
  transform: scale(0.7) rotate(90deg);
}

.aboutMeProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMeContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.aboutMeFeatureControllerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.aboutMeContentContainer > h3,
.aboutMeFeatureControllerContainer > div > h3 {
  font-size: 2rem;
}

.aboutMeContentContainer > h3 *,
.aboutMeFeatureControllerContainer > div > h3 * {
  color: var(--primary);
}

.workStatusContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.workStatusContainer * {
  fill: #58a88c;
  color: #58a88c;
  font-size: 0.8rem;
}

.aboutMeContentContainer > p {
  font-size: 0.9rem;
}

.feature,
.activeFeature {
  cursor: pointer;
}

.featureItem {
  transition: all 0.3s;
}

.featureController > * {
  padding: 0.75rem 0.5rem;
}

.featureController * {
  color: var(--text);
}

.featureController h4 {
  font-size: 1.2rem;
}

.featureController p {
  font-size: 0.8rem;
}

.subheading {
  font-size: 0.7rem;
}

.aboutMeFeatureHeadings {
  border-bottom: 1px solid var(--background-hue);
  padding-bottom: 10px;
}

.activeFeature {
  background-color: hsla(0, 0%, 98%, 0.1);
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(12, 20, 42, 0.4);
}

.activeFeature * {
  color: var(--primary);
}

.activeFeature p * {
  color: var(--text);
}

.codeSnippetContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.codeSnippetContainer pre {
  flex-grow: 1;
  border-radius: 10px;
}

.windowControllerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.windowControllerContainer > *:last-child * {
  font-size: 2rem;
  color: var(--primary);
}

.windowControllerContainer > div {
  display: flex;
  border: 1px solid var(--background-hue);
  border-radius: 50px;
}

.windowControllerContainer > div > * {
  cursor: pointer;
  transition: all 0.3s;
  padding: 0.5rem 1rem;
  border-radius: 50px;
}

.hovered,
.clicked {
  background-color: var(--text);
  box-shadow: 0px 4px 16px rgba(235, 241, 255, 0.2);
}

.hovered svg,
.clicked svg {
  fill: var(--background);
}

video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.linkContainer {
  display: flex;
}

.linkContainer > div {
  display: flex;
  border-radius: 50px;
  border: 1px solid var(--background-hue);
}

.linkContainer > div > a {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: all 0.3s;
}
