@import "../../index.css";

.container {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 10px;
}

.container > * {
  flex: 1;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.wordAnimationContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.maskSelectorContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  border: 1px solid var(--background-hue);
  border-radius: 50px;
  padding: 10px 15px;
  box-shadow: 0px 4px 16px rgba(235, 241, 255, 0.2);
}

.overlayContainer {
  height: 46px;
  width: 46px;
}

.evenSvg {
  fill: var(--accent);
}

.oddSvg {
  fill: var(--primary);
}

.wordContainer {
  max-width: 600px;
  width: 100%;
  border-radius: 50px;
  overflow: hidden;
  transition: all 0.3s;
}

.wordContainer p {
  height: 400px;
  text-align: right;
  overflow-wrap: break-word;
  word-wrap: break-word;
  z-index: 2;
  background: var(--borders);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: 0.75rem;
  font-size: 0.75rem;
}

.maskContainer {
  position: relative;
  -webkit-mask-size: 60%;
  mask-size: 60%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: 90% 0%;
  -webkit-mask-position: 90% 0%;
}

.btnContainer {
  display: flex;
  gap: 30px;
}
