@import "../../index.css";

.container {
  display: flex;
  align-items: center;
  height: 95%;
  border-radius: 10px;
  position: relative;
}

.container > * {
  flex: 1;
}

.wordContainer {
  max-width: 600px;
  height: 200px;
  width: 100%;
  border-radius: 50px;
  overflow: hidden;
  position: absolute;
  transition: all 0.3s;
  right: 0;
}

.wordContainer p {
  height: 400px;
  text-align: right;
  overflow-wrap: break-word;
  word-wrap: break-word;
  z-index: 2;
  background: var(--borders);
  -webkit-background-clip: text;
  color: transparent;
  line-height: 0.75rem;
  font-size: 0.75rem;
}

.maskContainer {
  position: relative;
  -webkit-mask-size: 60%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: 100% 50%;
  -webkit-mask-position: 100% 50%;
}
