@import "../../index.css";

.contactContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contactHeading {
  padding: 0.75rem 0rem;
  /* border-bottom: 1px solid var(--primary); */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contactHeading > h2 {
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
}

.contactHeading > p {
  font-size: 0.8rem;
  text-align: center;
}

.contactHeading > p span {
  color: var(--primary);
}

.contactContainer > * {
  flex: 1;
}

.animatedCardContainer {
  /* box-shadow: 0px 4px 16px rgba(235, 241, 255, 0.2) !important; */
  padding: 0px !important;
  display: grid;
  height: 100%;
  gap: 0px !important;
  /* -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient (black, transparent); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130%;
  overflow: hidden;
}

.block {
  border: 1px solid var(--background-hue);
  transition: all 0.3s;
  cursor: grab;
  background-color: var(--card-bg);
  z-index: 0;
}

.block:hover {
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(212, 29, 109, 0.7),
    0px 0px 10px rgba(212, 29, 109, 0.7), 0px 0px 15px rgba(212, 29, 109, 0.7),
    0px 0px 20px rgba(212, 29, 109, 0.7), 0px 0px 25px rgba(212, 29, 109, 0.7),
    0px 0px 30px rgba(212, 29, 109, 0.7), 0px 0px 35px rgba(212, 29, 109, 0.7) !important;
  z-index: 2;
  content: "Drag me";
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: scale(0.7); */
}

.underlayImage {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.contactFormContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: space-between;
  padding: 2rem 0rem;
}

.contactFormContainer > *:last-child {
  height: 80%;
}

.nameContainer {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.nameContainer > * {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: space-between;
}

.form > div:last-child {
  display: flex;
  justify-content: center;
}

.dragged {
  opacity: 0;
}
