@import "../../index.css";

.contactContainer {
  display: flex;
  gap: 20px;
  cursor: none;
}

.contactContainer > * {
  flex: 1;
}

.animatedCardContainer {
  overflow: hidden;
  /* box-shadow: 0px 4px 16px rgba(235, 241, 255, 0.2) !important; */
  padding: 0px !important;
  display: grid;
  height: 100%;
  gap: 0px !important;
  /* -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient (black, transparent); */
}

.block {
  border-radius: 10px;
  border: 1px solid var(--background-hue);
  box-shadow: 0px 4px 16px rgba(235, 241, 255, 0.2) !important;
  opacity: 0.2;
  transition: all 0.3s;
}

.block:hover {
  opacity: 1;
}
