@import "../../index.css";

.contactContainer {
  display: flex;
  gap: 80px !important;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem !important;
}

.contactInformation {
  flex: 1;
  height: 100%;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem;
  position: relative;
  overflow: hidden;
}
.contactFormContainer {
  flex: 1.4;
}

.contactContainer > {
  flex: unset;
}

.contactHeading {
  padding: 0.75rem 0rem;
  /* border-bottom: 1px solid var(--primary); */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contactHeading > h2 {
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
}

.contactHeading > p {
  font-size: 0.8rem;
  text-align: center;
  text-align: center;
}

.contactHeading > p span {
  color: var(--primary);
}

.contactFormContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: space-between;
  padding: 2rem 0rem;
}

.contactFormContainer > *:last-child {
  height: 80%;
}

.nameContainer {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.nameContainer > * {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: space-between;
}

.form > div:last-child {
  display: flex;
  justify-content: center;
}

.headingContainer {
  z-index: 2;
  width: 100%;
}

.headingContainer > h2 * {
  color: var(--primary);
  font-weight: 400;
}

.headingContainer > p {
  color: var(--text);
  font-size: 0.8rem;
}

.socialsContainer {
  display: flex;
  gap: 20px;
}

.accentBlob {
  width: 300px;
  height: 300px;
  background-color: var(--accent);
  border-radius: 50%;
  content: " ";
  position: absolute;
  bottom: -130px;
  right: -130px;
  z-index: 1;
  opacity: 0.9;
}

.primaryBlob {
  width: 150px;
  height: 150px;
  background-color: var(--card-bg);
  content: " ";
  position: absolute;
  top: -30px;
  left: -30px;
  z-index: 2;
  border-radius: 50%;
  opacity: 0.9;
}

.borderedLine {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid var(--card-bg);
  content: " ";
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: 1;
}

.borderedLineBig {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid var(--card-bg);
  content: " ";
  position: absolute;
  top: -75px;
  left: -75px;
  z-index: 1;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contactLine {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

.contactLine > p * {
  font-size: 0.8rem;
  color: var(--primary);
}

.socialsContainer > a {
  border-radius: 5px;
  padding: 8px;
  background-color: var(--accent);
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.socialsContainer > a svg {
  fill: var(--text);
  transition: all 0.3s;
  width: 17px;
  height: 17px;
}

.socialsContainer > a:hover svg {
  fill: var(--background);
}

.socialsContainer > a:hover {
  background-color: var(--primary);
}
