/* https://realtimecolors.com/?colors=f0d9f2-240d26-cd70a4-351315-c25159 */
/* https://realtimecolors.com/?colors=d7e3ff-000a1e-8fb3ff-ebf1ff-d41d6d --> */

:root {
  --card-size: 600px;
  /* --text: #d7d7da;
  --background: #010314; */
  --text: #d7e3ff;
  --background: #000a1e;
  --card-bg: #0c142a;
  --background-hue: #343543;
  --primary: rgb(143, 179, 255);
  --secondary: rgb(235, 241, 255);
  --accent: rgb(212, 29, 109);
  --accent-heavy: #f08fb9;
  --borders: linear-gradient(
    220deg,
    var(--accent-heavy),
    var(--accent),
    var(--primary),
    var(--secondary)
  );
  --box-shadow: 0px 4px 16px rgba(235, 241, 255, 0.075);
  /* --accent-heavy: #0c7b42;
  --background-hue: #343543;
  --text: #f1fef7;
  --background: #01130a;
  --primary: #62f4a8;
  --secondary: #032b16;
  --accent: #10ea79; */
}

* {
  /* font-family: 'Caveat', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */
  font-family: "Space Grotesk", sans-serif;
  /* font-family: "Nunito", sans-serif; */

  color: var(--text);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background);
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--background);
  padding: 1rem;
}

main {
  height: 100%;
  padding: 0.5rem;
  background: var(--borders);
  border-radius: 15px;
  box-shadow: 0px 4px 16px rgba(235, 241, 255, 0.3);
}

.navigation-container {
  border-radius: 50%;
  border: 1px solid var(--background-hue);
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s;
}

.card {
  background-color: var(--card-bg);
  border-radius: 15px;
  padding: 1rem;
  gap: 20px;
  box-shadow: 0px 4px 6px rgba(0, 10, 30, 0.4);
  /* background-image: radial-gradient(
    rgba(215, 227, 255, 0.1) 1px,
    transparent 1px
  );
  background-position: 50% 50%;
  background-size: 1.1rem 1.1rem; */
  z-index: 1;
  position: relative;
}

.card:after {
  content: "";
  height: 70px;
  width: 1px;
  position: absolute;
  left: -1px;
  top: 65%;
  transition: top, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  background: linear-gradient(transparent, var(--accent), transparent);
  opacity: 0;
}

.card:after {
  top: 65%;
  opacity: 0;
}

.card:hover:after {
  top: 25%;
  opacity: 1;
}
.content-container {
  height: 100%;
  width: 100%;
  border: 5px solid var(--background);
  border-radius: 15px;
  padding: 1rem 2rem;
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.blob {
  background-color: white;
  height: 25vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, var(--accent), var(--primary));
  animation: rotate 20s infinite;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  border-radius: 10px;

  max-width: 1750px;
}

.blur {
  height: 110%;
  width: 110%;
  position: absolute;
  backdrop-filter: blur(12vmax);
  left: 0px;
  border-radius: 10px;
}

pre {
  border: unset !important;
  background: unset !important;
  padding: 1rem 0rem !important;
  margin: 1rem !important;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.linenumber {
  color: rgba(194, 214, 227, 0.5) !important;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  border: 1px solid var(--background-hue);
  width: 52px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  left: 2.25rem;
  top: 2rem;
  margin: 10px 0px;
  z-index: 1000;
  transition: all 0.3s;
}
.burger-line {
  width: 30px;
  height: 2px;
  background-color: var(--text);
}

.content-container > *:nth-child(2) {
  height: 81%;
}

.main-heading {
  font-size: 6.5rem;
  z-index: 1;
  margin: 0;
  font-weight: 400;
  position: relative;
}

.subheading {
  font-size: 1.1rem;
  font-weight: 300;
}

.react-svg > div > div {
  display: flex;
}

button {
  transition: all 0.3s;
}

.primary-btn,
.secondary-btn {
  padding: 10px 35px;
  border-radius: 50px;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: var(--background);
  font-size: 1.15rem;
  font-weight: 500;
}

.primary-btn {
  background-color: var(--primary);
  box-shadow: 0px 4px 16px rgba(143, 179, 255, 0.4);
}

.primary-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(212, 29, 109, 0.4),
    0 0 20px 10px rgba(212, 29, 109, 0.2);
  color: var(--text);
  background-color: var(--accent);
}

.secondary-btn {
  background-color: var(--accent);
  color: var(--text);
  box-shadow: 0px 4px 16px rgba(212, 29, 109, 0.4);
}

.secondary-btn:hover {
  transform: scale(1.05);
  background-color: var(--primary);
  box-shadow: 0 0 10px 5px rgba(143, 179, 255, 0.4),
    0 0 20px 10px rgba(143, 179, 255, 0.2);
  color: var(--background);
}

.secondary-btn-clicked {
  background-color: rgb(117, 17, 60);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  cursor: not-allowed;
  pointer-events: none;
}

.typewriter {
  display: inline;
  font-size: 2.5rem;
  font-weight: 400;
}

.Typewriter {
  display: inline;
}

.Typewriter > *:first-child,
.highlighted > span {
  background: linear-gradient(
    to right,
    var(--accent-heavy),
    var(--accent),
    var(--primary),
    var(--secondary)
  );
  -webkit-background-clip: text;
  color: transparent;
}

.highlighted {
  display: inline;
}

.marquee-fixed-container {
  border-radius: 10px;
  padding: 0.5rem;
}

.marquee-label {
  font-size: 0.7rem;
  color: var(--accent);
}

.marquee-container svg {
  height: 22px;
  width: 22px;
  fill: var(--primary);
  margin: 0rem 1rem;
}

.resume-marquee .marquee-fixed-container {
  position: relative;
  transition: all 0.3s;
}

.resume-marquee .marquee-fixed-container:hover {
  box-shadow: var(--box-shadow);
}

.resume-marquee .marquee-container svg {
  height: 30px;
  width: 30px;
  margin: 0rem 1rem;
}

.resume-marquee .marquee-container .react-svg svg {
  transition: all 0.3s;
  cursor: pointer;
}

.resume-marquee .marquee-container .react-svg:hover svg {
  fill: var(--accent);
}

.resume-marquee {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resume-marquee > div > * {
  max-width: 500px !important;
}

.resume-marquee > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resume-marquee .react-svg {
  margin: 0rem 1rem !important;
}

.marquee-item {
  position: relative;
  overflow: visible;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  border-radius: 10px;
}

.input-container input,
.input-container textarea {
  padding: 0.5rem;
  background-color: transparent;
  font-size: 0.8rem;

  color: var(--text);
  border: none;
  border-bottom: thin solid var(--primary);
  transition: all 0.5s;
}

label {
  color: var(--primary);
}

textarea:focus,
input:focus {
  outline: none;
  border-radius: 50px;
  box-shadow: 0 -2px #ffffff40, inset 0 2px 3px #0003;
}

.embla {
  overflow: hidden;
  width: 50%;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.experience-container * {
  text-align: center;
}

.date span,
.location span {
  font-size: 0.9rem;
  color: var(--accent);
  font-weight: 300;
}

.type span {
  color: var(--primary);
}

.subject span,
.experience span {
  font-weight: 300;
}

.experience span {
  color: var(--primary);
}

.random-dots {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--text);
  content: " ";
  position: absolute;
  z-index: 1;
  background-color: transparent;
  transition: all 0.1s;
}

.bullet-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
}

.bullet {
  font-size: 0.8rem;
  text-align: left;
  position: relative;
}

.bullet::before {
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  background-color: var(--accent);
  content: " ";
  position: absolute;
  left: -15px;
  top: 4px;
  box-shadow: var(--box-shadow);
}

.face-container {
  width: 150px;
  height: 150px;
  background-color: var(--accent-heavy);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
}

.goggle-container {
  width: 100%;
  position: absolute;
  top: 35%;
  height: 40px;
  background-color: #a8a7ac;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.mask-container {
  width: 100px;
  border-radius: 50%;
  height: 100px;
  background-color: #a5a4ab;
  position: absolute;
  top: -27px;
  left: 25px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
  border: 5px solid #7a787e;
  padding: 0.3rem;
}

.eye-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fefdfe;
  padding: 1.3rem;
}

.pupel-container {
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  border-radius: 50%;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
}

.cursor-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #000a1e;
  position: relative;
}

.cursor-follower {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d7e3ff;
  position: absolute;
}

@media (min-width: 1300px) {
  .resume-marquee .marquee-container svg {
    height: 40px;
    width: 40px;
    margin: 0rem 1rem;
  }
  .resume-marquee > div > * {
    max-width: 650px !important;
  }
}

@media (max-width: 1300px) {
  .main-heading {
    font-size: 5rem;
  }
  .typewriter {
    font-size: 1.9rem;
  }
}

@media (max-width: 1170px) {
  .main-heading {
    font-size: 4.5rem;
  }
  .typewriter {
    font-size: 2rem;
  }
  .subheading {
    font-size: 1rem;
  }
}

@media (max-width: 1110px) {
  .main-heading {
    font-size: 3.5rem;
  }
  .typewriter {
    font-size: 1.5rem;
  }
  .subheading {
    font-size: 0.9rem;
  }
}

@media (max-width: 1060px) {
  .content-container {
    position: relative;
  }
}

@media (max-width: 950px) {
  .date span,
  .location span {
    font-size: 0.7rem;
  }
  .type {
    font-size: 1rem;
  }
  .subject {
    font-size: 0.9rem;
  }
  .experience {
    font-size: 0.8rem;
  }
}

@media (max-width: 840px) {
  .resume-marquee > div > * {
    max-width: 400px !important;
  }
  .resume-marquee svg {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 860px) {
  .bullet {
    text-align: center;
  }

  #root,
  main,
  .content-container {
    min-height: 100svh;
    height: unset;
  }
}

@media (max-width: 590px) {
  .resume-marquee > div > * {
    max-width: 300px !important;
  }
  .resume-marquee svg {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 550px) {
  .content-container {
    padding: 1rem;
    position: unset;
  }
  .marquee-fixed-container {
    max-width: 200px !important;
  }
  #root {
    height: unset;
  }
  .blur,
  .blob {
    display: none;
  }
}

@media (max-width: 500px) {
  .main-heading {
    font-size: 4rem;
  }
  .typewriter {
    font-size: 1.75rem;
  }
}

@media (max-width: 475px) {
  .resume-marquee > div > * {
    max-width: 250px !important;
  }
  .resume-marquee svg {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 460px) {
  .main-heading {
    font-size: 3.5rem;
  }
  .typewriter {
    font-size: 1.5rem;
  }
}
@media (max-width: 420px) {
  .main-heading {
    font-size: 3rem;
  }
  .typewriter {
    font-size: 1.25rem;
  }
  .subheading {
    font-size: 0.7rem;
  }
}

@media (max-width: 425px) {
  .resume-marquee > div > * {
    max-width: 150px !important;
  }
  .resume-marquee svg {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 350px) {
  .input-container > input,
  .input-container > textarea {
    padding: 0.3rem;
    font-size: 0.7rem;
  }
  .primary-btn,
  .secondary-btn {
    font-size: 0.8rem;
  }
}
