/* https://realtimecolors.com/?colors=f0d9f2-240d26-cd70a4-351315-c25159 */
/* https://realtimecolors.com/?colors=d7e3ff-000a1e-8fb3ff-ebf1ff-d41d6d --> */

:root {
  --card-size: 600px;
  /* --text: #d7d7da;
  --background: #010314; */
  --text: #d7e3ff;
  --background: #000a1e;
  --card-bg: #0c142a;
  --background-hue: #343543;
  --primary: rgb(143, 179, 255);
  --secondary: rgb(235, 241, 255);
  --accent: rgb(212, 29, 109);
  --accent-heavy: #f08fb9;
  --borders: linear-gradient(
    220deg,
    var(--accent-heavy),
    var(--accent),
    var(--primary),
    var(--secondary)
  );
  --box-shadow: 0px 4px 16px rgba(235, 241, 255, 0.075);
  /* --accent-heavy: #0c7b42;
  --background-hue: #343543;
  --text: #f1fef7;
  --background: #01130a;
  --primary: #62f4a8;
  --secondary: #032b16;
  --accent: #10ea79; */
}

* {
  /* font-family: 'Caveat', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */
  font-family: "Space Grotesk", sans-serif;
  color: var(--text);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--background);
  padding: 1rem;
}

main {
  height: 100%;
  padding: 0.5rem;
  background: var(--borders);
  border-radius: 15px;
}

.navigation-container {
  border-radius: 50%;
  border: 1px solid var(--background-hue);
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s;
}

.card {
  background-color: var(--card-bg);
  border-radius: 15px;
  padding: 1rem;
  gap: 20px;
  box-shadow: 0px 4px 6px rgba(0, 10, 30, 0.4);
}

.content-container {
  height: 100%;
  width: 100%;
  border: 5px solid var(--background);
  border-radius: 15px;
  padding: 1rem 2rem;
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

/* .content-container > *:first-child {
  height: 9%;
}

.content-container > *:last-child {
  height: 9%;
} */
.content-container > *:nth-child(2) {
  height: 81%;
}

.main-heading {
  font-size: 6.5rem;
  z-index: 1;
  margin: 0;
  font-weight: 400;
  position: relative;
}

.main-heading:first-child > :first-child:before {
  color: var(--background-hue);
}

/* .main-heading:first-child > :first-child:before {
  content: "G";
  position: absolute;
  left: -4px;
  top: -4px;
  color: var(--text);
}
.main-heading:first-child > :first-child::after {
  content: "G";
  position: absolute;
  left: 6px;
  top: 6px;
  color: var(--accent);
} */

.subheading {
  font-size: 1.1rem;
  font-weight: 300;
}

.react-svg > div > div {
  display: flex;
}

button {
  transition: all 0.3s;
}

.primary-btn,
.secondary-btn {
  padding: 10px 35px;
  border-radius: 50px;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: var(--background);
  font-size: 1.15rem;
  font-weight: 500;
}

.primary-btn {
  background-color: var(--primary);
  box-shadow: 0px 4px 16px rgba(143, 179, 255, 0.4);
}

.primary-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(212, 29, 109, 0.4),
    0 0 20px 10px rgba(212, 29, 109, 0.2);
  color: var(--text);
  background-color: var(--accent);
}

.secondary-btn {
  background-color: var(--accent);
  color: var(--text);
  box-shadow: 0px 4px 16px rgba(212, 29, 109, 0.4);
}

.secondary-btn:hover {
  transform: scale(1.05);
  background-color: var(--primary);
  box-shadow: 0 0 10px 5px rgba(143, 179, 255, 0.4),
    0 0 20px 10px rgba(143, 179, 255, 0.2);
  color: var(--background);
}

.secondary-btn-clicked {
  background-color: rgb(117, 17, 60);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  cursor: not-allowed;
  pointer-events: none;
}

.typewriter {
  display: inline;
  font-size: 2.5rem;
  font-weight: 400;
}

.Typewriter {
  display: inline;
}

.Typewriter > *:first-child,
.highlighted > span {
  background: linear-gradient(
    to right,
    var(--accent-heavy),
    var(--accent),
    var(--primary),
    var(--secondary)
  );
  -webkit-background-clip: text;
  color: transparent;
}

.highlighted {
  display: inline;
}

.marquee-fixed-container {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 0.5rem;
}

.marquee-label {
  font-size: 0.7rem;
  color: var(--accent);
}

.marquee-container svg {
  height: 22px;
  width: 22px;
  fill: var(--primary);
  margin: 0rem 1rem;
}

.resume-marquee .marquee-fixed-container {
  box-shadow: none;
  position: relative;
  transition: all 0.3s;
}

.resume-marquee .marquee-fixed-container:hover {
  box-shadow: var(--box-shadow);
}

.resume-marquee .marquee-container svg {
  height: 30px;
  width: 30px;
  margin: 0rem 1rem;
}

.resume-marquee .marquee-container .react-svg svg {
  transition: all 0.3s;
  cursor: pointer;
}

.resume-marquee .marquee-container .react-svg:hover svg {
  fill: var(--accent);
}

.resume-marquee {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resume-marquee > div > * {
  max-width: 500px !important;
}

.resume-marquee > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resume-marquee .react-svg {
  margin: 0rem 1rem !important;
}

.marquee-item {
  position: relative;
  overflow: visible;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  border-radius: 10px;
}

.input-container input,
.input-container textarea {
  padding: 20px;
  background-color: transparent;
  font-size: 0.8rem;

  color: var(--text);
  border: none;
  border-bottom: thin solid var(--primary);
  transition: all 0.5s;
}

label {
  color: var(--primary);
}

textarea:focus,
input:focus {
  outline: none;
  border-radius: 50px;
  box-shadow: 0 -2px #ffffff40, inset 0 2px 3px #0003;
}

.embla {
  overflow: hidden;
  width: 50%;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.experience-container * {
  text-align: center;
}

.date span,
.location span {
  font-size: 0.9rem;
  color: var(--accent);
  font-weight: 300;
}

.type span {
  color: var(--primary);
}

.subject span,
.experience span {
  font-weight: 300;
}

.random-dots {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--text);
  content: " ";
  position: absolute;
  z-index: 1;
  background-color: transparent;
  transition: all 0.1s;
  opacity: 0.075;
}

.bullet-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
}

.bullet {
  font-size: 0.8rem;
  text-align: left;
  position: relative;
}

.bullet::before {
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  background-color: var(--primary);
  content: " ";
  position: absolute;
  left: -15px;
  top: 4px;
  box-shadow: var(--box-shadow);
}

@media (max-width: 700px) {
  #root {
    height: unset;
  }
}
